<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://125.88.181.61:8089/app/1bd22512534774f5b2f4191802d34dcd/2018_08_08_22_24.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://125.88.181.61:8089/app/1bd22512534774f5b2f4191802d34dcd/icon-512.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://125.88.181.61:8089/app/1bd22512534774f5b2f4191802d34dcd/icon-72.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.bojin.com</string>
				<key>bundle-version</key>
				<string>1.4.276</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>博金国际下载</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
